In [24]:
import pandas as pd

spain_data = pd.read_excel('Data/spain_data.xlsx', header = 2)
us_data = pd.read_excel('Data/us_data.xlsx', header = 2)

In [25]:
spain_data.rename(columns={'Unnamed: 0': 'Date'})

,Date,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Jan 1960,NaN,60.000,233.000000,2.857368
1,Feb 1960,NaN,60.000,253.000000,2.855049
2,Mar 1960,NaN,60.000,299.000000,2.851573
3,Apr 1960,NaN,60.000,326.000000,2.853891
4,May 1960,NaN,60.000,360.000000,2.845198
...,...,...,...,...,...
367,Aug 1990,57.138375,97.029,53227.717281,52.200576
368,Sep 1990,97.803577,98.467,53790.187718,52.750025
369,Oct 1990,100.909947,95.697,55428.040577,53.218335
370,Nov 1990,104.110449,93.958,56347.862332,53.165017
371,Dec 1990,88.202071,95.234,56004.835968,53.295997

In [26]:
us_data.rename(columns={'Unnamed: 0': 'Date'})

,Date,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Jan 1960,21478.100000,13.436946
1,Feb 1960,21395.700000,13.482806
2,Mar 1960,21344.700000,13.482806
3,Apr 1960,21278.000000,13.528666
4,May 1960,21234.300000,13.528666
...,...,...,...
367,Aug 1990,78908.838357,60.351608
368,Sep 1990,80024.166133,60.856066
369,Oct 1990,82852.196532,61.222946
370,Nov 1990,83059.402774,61.360525
371,Dec 1990,83316.214608,61.360525

In [33]:
pd.merge(spain_data, us_data, on='Unnamed: 0')

,Unnamed: 0,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_x","Prices, Consumer Price Index, All items, Index_x","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_y","Prices, Consumer Price Index, All items, Index_y"
0,Jan 1960,NaN,60.000,233.000000,2.857368,21478.100000,13.436946
1,Feb 1960,NaN,60.000,253.000000,2.855049,21395.700000,13.482806
2,Mar 1960,NaN,60.000,299.000000,2.851573,21344.700000,13.482806
3,Apr 1960,NaN,60.000,326.000000,2.853891,21278.000000,13.528666
4,May 1960,NaN,60.000,360.000000,2.845198,21234.300000,13.528666
...,...,...,...,...,...,...,...
367,Aug 1990,57.138375,97.029,53227.717281,52.200576,78908.838357,60.351608
368,Sep 1990,97.803577,98.467,53790.187718,52.750025,80024.166133,60.856066
369,Oct 1990,100.909947,95.697,55428.040577,53.218335,82852.196532,61.222946
370,Nov 1990,104.110449,93.958,56347.862332,53.165017,83059.402774,61.360525
371,Dec 1990,88.202071,95.234,56004.835968,53.295997,83316.214608,61.360525