In [1]:
import pandas as pd
import math
spain_data = pd.read_excel('Data/spain_data.xlsx', header = 2)
us_data = pd.read_excel('Data/us_data.xlsx', header = 2)

In [2]:
spain_data.rename(columns={'Unnamed: 0': 'Date'})

,Date,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Jan 1960,NaN,60.000,233.000000,2.857368
1,Feb 1960,NaN,60.000,253.000000,2.855049
2,Mar 1960,NaN,60.000,299.000000,2.851573
3,Apr 1960,NaN,60.000,326.000000,2.853891
4,May 1960,NaN,60.000,360.000000,2.845198
...,...,...,...,...,...
367,Aug 1990,57.138375,97.029,53227.717281,52.200576
368,Sep 1990,97.803577,98.467,53790.187718,52.750025
369,Oct 1990,100.909947,95.697,55428.040577,53.218335
370,Nov 1990,104.110449,93.958,56347.862332,53.165017
371,Dec 1990,88.202071,95.234,56004.835968,53.295997

In [3]:
us_data.rename(columns={'Unnamed: 0': 'Date'})

,Date,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Jan 1960,21478.100000,13.436946
1,Feb 1960,21395.700000,13.482806
2,Mar 1960,21344.700000,13.482806
3,Apr 1960,21278.000000,13.528666
4,May 1960,21234.300000,13.528666
...,...,...,...
367,Aug 1990,78908.838357,60.351608
368,Sep 1990,80024.166133,60.856066
369,Oct 1990,82852.196532,61.222946
370,Nov 1990,83059.402774,61.360525
371,Dec 1990,83316.214608,61.360525

In [4]:
data = pd.merge(spain_data, us_data, on='Unnamed: 0')

In [5]:
data

,Unnamed: 0,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_x","Prices, Consumer Price Index, All items, Index_x","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_y","Prices, Consumer Price Index, All items, Index_y"
0,Jan 1960,NaN,60.000,233.000000,2.857368,21478.100000,13.436946
1,Feb 1960,NaN,60.000,253.000000,2.855049,21395.700000,13.482806
2,Mar 1960,NaN,60.000,299.000000,2.851573,21344.700000,13.482806
3,Apr 1960,NaN,60.000,326.000000,2.853891,21278.000000,13.528666
4,May 1960,NaN,60.000,360.000000,2.845198,21234.300000,13.528666
...,...,...,...,...,...,...,...
367,Aug 1990,57.138375,97.029,53227.717281,52.200576,78908.838357,60.351608
368,Sep 1990,97.803577,98.467,53790.187718,52.750025,80024.166133,60.856066
369,Oct 1990,100.909947,95.697,55428.040577,53.218335,82852.196532,61.222946
370,Nov 1990,104.110449,93.958,56347.862332,53.165017,83059.402774,61.360525
371,Dec 1990,88.202071,95.234,56004.835968,53.295997,83316.214608,61.360525

In [6]:
# log exchange rate
er = data['Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate'].tolist()
log_er = []
for value in er:
    log = math.log(value)
    log_er.append(log)

In [7]:
log_dif_list = []

for i in range(0, len(er)-1):
    log_dif = log_er[i+1] - log_er[i]
    log_dif_list.append(log_dif)

In [8]:
# monthly inflation rate
cpi = data['Prices, Consumer Price Index, All items, Index_x'].tolist()
mon_inf_list = []

for i in range(0, len(er)-1):
    inf = math.log(cpi[i+1] / cpi[i])
    mon_inf_list.append(inf)

In [9]:
# log industrial production
ip = data['Economic Activity, Industrial Production, Index'].tolist()
log_ip = []
for value in ip:
    log = math.log(value)
    log_ip.append(log)

In [10]:
# Monthly growth in industrial production
indsutrial_growth_list = []
for i in range(0, len(ip)-1):
    growth = math.log(ip[i+1] / ip[i])
    indsutrial_growth_list.append(growth)

In [22]:
# Growth in industrial production versus 12 months ago (i.e. January 1971 versus January 1970 etc.)
tw_mon_prod = []
k = 0
while k < 301:
    growth = math.log(ip[k+12] / ip[k])
    tw_mon_prod.append(growth)
    k = k+12

tw_mon_prod

[nan,
 0.16724721874710474,
 0.09226397673798262,
 0.10298481455743122,
 0.043596647505758174,
 0.1593352806961582,
 0.08704109599642261,
 0.04568754940575614,
 0.14914127674059127,
 0.09538355006738991,
 0.027022150804740137,
 0.13495860504566237,
 0.15658413207715646,
 0.13395367584948517,
 -0.12052828430668718,
 0.0028129413766142144,
 0.09249723842771085,
 0.05601962368129195,
 0.03450669541578175,
 0.021978906718776035,
 -0.05406722127027676,
 -0.03190454651874419,
 0.05577202792538803,
 0.033626356580279654,
 0.02477604209943735,
 -0.0033426214966892805]

In [12]:
# An index of the value of international reserves (value of reserves at January 1960 = 100)
reserves_index = data['International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_x'].tolist()
reserves_index_list = []
for reserve in reserves_index:
    index = reserve/reserves_index[0] * 100
    reserves_index_list.append(index)

In [13]:
# US monthly inflation rate
cpi = data['Prices, Consumer Price Index, All items, Index_y'].tolist()
mon_inf_list_2 = []

for i in range(0, len(er)-1):
    inf = math.log(cpi[i+1] / cpi[i])
    mon_inf_list_2.append(inf)

In [14]:
# An index of the value of international reserves (value of reserves at January 1960 = 100)
reserves_index = data['International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_y'].tolist()
reserves_index_list_2 = []
for reserve in reserves_index:
    index = reserve/reserves_index[0] * 100
    reserves_index_list_2.append(index)

In [19]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'])

0     1960-01-01
1     1960-02-01
2     1960-03-01
3     1960-04-01
4     1960-05-01
         ...
367   1990-08-01
368   1990-09-01
369   1990-10-01
370   1990-11-01
371   1990-12-01
Name: Unnamed: 0, Length: 372, dtype: datetime64[ns]